/*font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;*/

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  color: black;
}

img {
  border-radius: 50px 10px;
  display: block;
  align-content: center;
  max-width: 100%;
  object-fit: scale-down;
}

.btn {
  padding: 10px 20px;
}
.hero,
.media,
.wolfolks {
  text-align: center;
  padding: 100px;
  background-color: #f2f2f2;
  vertical-align: middle;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  vertical-align: middle;
}
.andalix,
.coding,
.about {
  text-align: center;
  padding: 100px;
  background-color: white;
  vertical-align: middle;
}
.about-section-content,
.contact-section {
  line-height: 30px;
  text-align: justify;
}
.coding-contact-section {
  text-align: center;
}

.nav-link {
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover {
  color: rgb(107, 107, 109) !important;
}

.navbar-brand {
  color: rgb(107, 107, 109) !important;
}
/*@media (max-width: 960px) {

}*/
